@model IEnumerable<AAA.Models.Employee>

@{
    ViewData["Title"] = "Сотрудники";
}

<h2 class="text-center my-4">Сотрудники</h2>
<a class="btn btn-success mb-3" asp-action="Create">
    <i class="fas fa-plus-circle"></i> Добавить
</a>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Ставка (₸/ч)</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td>@employee.Position</td>
                    <td>@employee.HourlyRate</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i> Изменить
                        </a>
                        <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i> Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

